/* custom inclusion of right, left and below tabs */

.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-left > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tab-content {
    outline: 1px solid #e8e8e8;
    margin-left: 100px;
    width: 700px;
    height: auto;
    min-height: 500px;
}

.tab-pane {
    padding: 20px;
}

.avatar-question {
    height: 100px;
}

.padding15 {
    padding: 15px;
}

.template-image {
    width: 300px;
    height: 300px;
}

.template-tile {
    margin: 40px;
    width: 300px;
    height: 340px;
    border: 1px solid lightgray;
}

.preview-template-button,
.choose-template-button,
.clear-answers-button{
    position: absolute;
    left: 125px;
    display: none;
    opacity: 0.9;
    width: 150px;
}

.preview-template-button {
    top: 270px;
}

.choose-template-button {
    top: 310px;
}

.clear-answers-button{
    top: 350px;
}

pre {
    border: 0;
    background-color: transparent;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px;
    color: black;
}
#editableArea textarea{
    width: 1000px;
    max-width: 1000px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px;
    color: black;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}
.carousel-control.right,
.carousel-control.left{
    background-image: none;
}
.carousel-control.left{
    left: 85%;
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before{
    color: #8c8c8c;
}
.carousel-control{
    width: 5%;
}